{% include header.html %}


<body>

  <div id="header">
    <div class="container">
      <div class="title-container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        {% include navbar.html %}
      </div>
      <br>

      <div id="bottom-bar">
        {% include social_links.html %}
      </div>
    </div>
  </div>

  <div id="content" class="container">
    <section id="main_content">
      {% include anchor_headings.html anchorClass='anchor' h_max=2 html=content anchorBody="<i class='fa fa-link' aria-hidden='true'></i>" %}
    </section>
  </div>

  <div id="comments" class="container">
    <section id="disqus_container">
      {% if page.comments and site.disqus_forum_shortname %}
      <hr>
      {% include disqus.html %}
      {% endif %}
    </section>
  </div>

  <footer>
    {% include social_links.html %}
  </footer>

  <script src="{{ "/assets/js/prism.js" | absolute_url }}"></script>
  <button onclick="topFunction()" class="fa fa-arrow-up" id="top" title="Go to top"></button>
  <script>
    topScroll = document.getElementById("top");

    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        topScroll.style.display = "block";
      } else {
        topScroll.style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }

    $(window).on('load', function () {

      $('a[download]').each((i, e) => {
        $(e).addClass('fa fa-download');
      });

      setSizes();
    });

    $(window).resize(setSizes);

    function setSizes() {
      if ($(window).width() < 960) {
        $('#bottom-bar').hide();
        $('footer').show();
        $('#navbarSupportedContent').css('max-height', 'unset');
        $('.navbar-collapse').collapse('hide');
        if (document.body.clientHeight - $('#header').outerHeight() - $('#main_content').outerHeight() - $('#comments').outerHeight() < 150) {
          $('footer').css("position", "unset");
        } else {
          $('footer').css("position", "fixed");
        }
      }
      else {
        $('#bottom-bar').show();
        $('footer').hide();
        $('.navbar-collapse').collapse('show');
        $('footer').css("position", "fixed");
        $('#navbarSupportedContent').css('max-height', (document.body.clientHeight - $('.title-container').outerHeight() - $('#bottom-bar').outerHeight() - $('.navbar-toggler').outerHeight() - 50));
      }
    }
  </script>

</body>

</html>