---
layout: default
---

<h1>Notes</h1>
<br>

{{ content }}

{% assign courses = site.notes | group_by_exp:"course" %}
{% for course in courses %}
<a href="{{ '/' | absolute_url }}notes/{{ course.name }}">
  {{ course.name | replace: '-', ' ' }}
</a>
  <ul style="padding-top: 0.1em;">
    {% for post in course.items %}
    {% assign postCategory = post.title | downcase %}
    {% assign categoryName = category.name | replace: '-', ' ' | downcase %}
    {% if categoryName !=  postCategory %}  
    
 
    {% endfor %}
  </ul>
  <br>
{% endfor %}
